/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          "colors.rasi"
@import                          "fonts.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  true;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    border:                      0px solid;
    border-radius:               0px;
    // border-color:                @accent;
    cursor:                      "default";
    background-color:            rgba(0, 0, 0, 0.7);
    children: [ "spacer", "container", "spacer" ];
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    width:                       400px;
    padding:                     120px 20px;
    border:                      0px;
    border-radius:               4px;
    border-color:                @accent;
    background-color:            transparent;
    expand:                      true;
    anchor:                      center;
    location:                    center;
    children:                    [ "inputbar", "box", "message" ];
    horizontal-align:            0.5;
    vertical-align:              0.5;
}

spacer {
  expand: false;
  background-color: @transparent;
}

container {
  expand: true;
  orientation: horizontal;
  background-color: @transparent;
  children: [ "spacer", "mainbox", "spacer"];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     false;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  transparent;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     false;
    expand:                      false;
    str:                         "";
    padding:                     10px 14px;
    border-radius:               4px;
    background-color:            @accent;
    text-color:                  @background;
}
prompt {
    enabled:                     false;
    padding:                     10px;
    border-radius:               4px;
    background-color:            @accent;
    text-color:                  @background;
}

/*****----- Message -----*****/
message {
    enabled:                     true;
    margin:                      0px;
    padding:                     10px;
    border:                      0px 0px 0px 0px;
    border-radius:               0px;
    border-color:                @accent;
    background-color:            transparent;
    text-color:                  @foreground;
}
textbox {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.02;
    placeholder-color:           @foreground;
    blink:                       true;
    markup:                      true;
}
error-message {
    enabled:                     true;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
}

box {
    orientation:      vertical;
    children:         [ listview ];
    background-color: transparent; 
}

listview {
    enabled:                     true;
    dynamic:                     true;
    scrollbar:                   false;
    layout:                      horizontal;
    reverse:                     false;
    
    spacing:                     2%;
    padding:                     1.4%;
    align:                       1;
    margin:                      0px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    enabled:                     true;
    orientation:                 vertical;
    spacing:                     0%;
    margin:                      0px;
    padding:                     28% 6%;
    border:                      2px solid;
    border-radius:               4px;
    border-color:                @foreground-alt;
    background-color:            @background;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element-text {
    width:                       0;
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
    size: 72px;
    font: "JetBrainsMono Nerd Font 72";
}
element selected.normal {
    border-color:                @background;
    padding:                     20% 5%;
    background-color:            @selected;
    text-color:                  @background;
}
