/*****----- Configuration -----*****/
configuration {
    show-icons:                 false;
}

/*****----- Global Properties -----*****/
@import                          "colors.rasi"
@import                          "fonts.rasi"

/*****----- Main Window -----*****/
window {
    /* properties for window widget */
    transparency:                "real";
    location:                    center;
    anchor:                      center;
    fullscreen:                  true;
    width:                       400px;
    x-offset:                    0px;
    y-offset:                    0px;

    /* properties for all widgets */
    enabled:                     true;
    margin:                      0px;
    border:                      0px solid;
    border-radius:               0px;
    // border-color:                @accent;
    cursor:                      "default";
    background-color:            rgba(0, 0, 0, 0.7);
    children: [ "spacer", "container", "spacer" ];
}

/*****----- Main Box -----*****/
mainbox {
    enabled:                     true;
    spacing:                     10px;
    // width:                       1000px;
    padding:                     20px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @accent;
    background-color:            @transparent;
    expand:                      true;
    anchor:                      center;
    location:                    center;
    children:                    [ "listview" ];
    horizontal-align:            0.5;
    vertical-align:              0.5;
}

spacer {
  expand: true;
  background-color: @transparent;
}

container {
  expand: true;
  orientation: horizontal;
  background-color: @transparent;
  children: [ "spacer", "mainbox", "spacer" ];
}

/*****----- Inputbar -----*****/
inputbar {
    enabled:                     false;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      0px;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    children:                    [ "textbox-prompt-colon", "prompt"];
}

textbox-prompt-colon {
    enabled:                     false;
    expand:                      false;
    str:                         "";
    padding:                     10px 14px;
    border-radius:               4px;
    background-color:            @accent;
    text-color:                  @background;
}
prompt {
    enabled:                     false;
    padding:                     10px;
    border-radius:               4px;
    background-color:            @accent;
    text-color:                  @background;
}

/*****----- Message -----*****/
message {
    enabled:                     false;
    margin:                      0px;
    padding:                     10px;
    border:                      0px 0px 0px 0px;
    border-radius:               0px;
    border-color:                @accent;
    background-color:            transparent;
    text-color:                  @foreground;
}
textbox {
    enabled:                     true;
    background-color:            inherit;
    text-color:                  inherit;
    vertical-align:              0.5;
    horizontal-align:            0.0;
    placeholder-color:           @foreground;
    blink:                       true;
    markup:                      true;
}
error-message {
    enabled:                     true;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               0px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
}

/*****----- Listview -----*****/
listview {
    enabled:                     true;
    lines:                       1;
    cycle:                       true;
    dynamic:                     true;
    orientation:                 horizontal;
    reverse:                     false;
    fixed-height:                true;
    fixed-columns:               false;
    
    horizontal-align:            0.5;
    vertical-align:              0.5;
    spacing:                     10px;
    margin:                      0px;
    padding:                     0px;
    border:                      2px solid;
    border-radius:               4px;
    border-color:                @selected;
    background-color:            transparent;
    text-color:                  @foreground;
    cursor:                      "default";
}

/*****----- Elements -----*****/
element {
    orientation:                 horizontal;
    enabled:                     true;
    spacing:                     0px;
    margin:                      0px;
    padding:                     10px;
    border:                      0px solid;
    border-radius:               4px;
    width:                       100px;
    size:                        200px;
    border-color:                @selected;
    background-color:            @background;
    text-color:                  @foreground;
    cursor:                      pointer;
}
element-text {
    background-color:            transparent;
    text-color:                  inherit;
    cursor:                      inherit;
    vertical-align:              0.5;
    horizontal-align:            0.5;
}
element selected.normal {
    background-color:            var(selected);
    text-color:                  var(background);
}

