/* theme.css - Light Theme Example */

/* --- Global Colors --- */
window#waybar {
    background-color: rgba(251, 241, 199, 0.8);
    color: rgba(50, 48, 47, 1);
    border-bottom: 2px solid rgba(69, 133, 136, 0.3);
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left, .modules-right {
    background-color: transparent;
    color: rgba(50, 48, 47, 1);
}

/* --- Base Module Colors --- */
#clock, #battery, #cpu, #memory, #disk, #temperature, #backlight, #network,
#pulseaudio, #wireplumber, #custom-media, #tray, #mode, #idle_inhibitor,
#scratchpad, #power-profiles-daemon, #mpd, #keyboard-state, #privacy-item {
    background-color: transparent;
    color: rgba(50, 48, 47, 1);
}

button {
    color: #282828;
    background-color: transparent;
}

button:hover {
    color: #458588;
}

/* --- Specific Module States & Colors --- */

#workspaces button.active {
    color: #458588;
}

#workspaces button.urgent {
    color: #cc241d;
}

#pulseaudio:hover {
    color: #83a598;
}

#battery.charging,
#battery.plugged {
    color: #689d6a;
}

@keyframes blink {
    to {
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    color: #cc241d;
}

#power-profiles-daemon.performance {
    color: #f53c3c;
}
#power-profiles-daemon.balanced {
    color: #2980b9;
}
#power-profiles-daemon.power-saver {
    color: #2ecc71;
}

#cpu {
    color: #16B559;
}

#memory {
    color: #9b59b6;
}

#disk {
    color: #964B00;
}

#network.disconnected {
    color: #83a598;
}

#pulseaudio {
    color: #458588;
}

#pulseaudio.muted {
    color: #90B1B1;
}

#temperature.critical {
    color: #eb4d4b;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    color: #eb4d4b;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#idle_inhibitor.activated {
    color: rgba(69, 133, 136, 0.9);
}

#mpd.disconnected {
    color: #f53c3c;
}

#mpd.stopped {
    color: #90b1b1;
}

#mpd.paused {
    color: #51a37a;
}

#keyboard-state>label.locked {
    color: rgba(0, 0, 0, 0.2);
}

#custom-power {
  color: #458588;
}

#privacy-item.screenshare { color: #689d6a; }
#privacy-item.audio-in { color: #689d6a; }
#privacy-item.audio-out { color: #689d6a; }
