
* {
    background:     #1F1F1FFF;
    background-alt: #F1F1F1FF;
    foreground:     #F1F1F1FF;
    selected:       #FC3D03FF;
    accent:         #FC3D03FF;
    active:         #21FF90FF;
    urgent:         #FF4B60FF;
    transparent:    #00000000;
}
