
* {
    background:     #FBF1C7FF;
    background-alt: #FBF1C7FF;
    foreground:     #1D2021FF;
    selected:       #458588FF;
    accent:         #458588FF;
    active:         #21FF90FF;
    urgent:         #CC241DFF;
    transparent:    #00000000;
}
