
* {
    background:     #32302FFF;
    background-alt: #3C3836FF;
    foreground:     #FBF1C7FF;
    foreground-alt: #EBDBB2FF;
    selected:       #458588FF;
    accent:         #458588FF;
    active:         #21FF90FF;
    urgent:         #CC241DFF;
    transparent:    #00000000;
}
