/* theme.css - Light Theme Example */

/* --- Global Colors --- */
window#waybar {
    background-color: rgba(50, 48, 47, 0.95);
    color: rgba(251, 241, 199, 0.8);
    /* border-bottom: 2px solid rgba(69, 133, 136, 0.3); */
}

window#waybar.hidden {
    opacity: 0.2;
}

.modules-left,
.modules-right,
.modules-center {
    color: rgba(251, 241, 199, 0.8);
    background-color: rgba(50, 48, 47, 0);
}

button {
    color: rgba(251, 241, 199, 0.9);
    background-color: transparent;
}

button:hover {
    color: #458588;
}

label.module {
    background-color: transparent;
    color: rgba(251, 241, 199, 0.9);
}

label.module:hover {
    background-color: rgba(69, 133, 136, 0.1);
    color: #458588;
}

/* --- Specific Module States & Colors --- */

#workspaces button.hover {
    background-color: #689D6A;
    color: rgb(251, 241, 199);
}

#workspaces button.active {
    background-color: #689D6A;
    color: rgb(251, 241, 199);
}

#workspaces button.urgent {
    color: #CC241D;
}

#battery.charging,
#battery.plugged {
    color: #689D6A;
}

@keyframes blink {
    to {
        color: rgba(251, 241, 199, 0.8);
    }
}

#battery.critical:not(.charging) {
    color: #CC241D;
}

#power-profiles-daemon.performance {
    color: #F53C3C;
}

#power-profiles-daemon.balanced {
    color: #2980b9;
}

#power-profiles-daemon.power-saver {
    color: #2ECC71;
}

#cpu {
    color: #16B559;
}

#memory {
    color: #9b59b6;
}

#disk {
    color: #964B00;
}

#network.disconnected {
    color: #3C3836;
}

#pulseaudio {
    color: #FBF1C7;
}

#pulseaudio.muted {
    color: #7C6F64;
}

#pulseaudio.source-muted {
    border-color: rgba(251, 73, 52, 0.8);
}

#mpris.paused {
    color: #7C6F64;
}

#custom-microphone {
    color: #FBF1C7;
}

#custom-microphone.muted {
    border-color: rgba(251, 73, 52, 0.8);
    background-color: rgba(251, 73, 52, 0.8);
}

#temperature.critical {
    color: #EB4D4B;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    color: #EB4D4B;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#idle_inhibitor.activated {
    background-color: #689D6A;
    color: rgb(251, 241, 199);
}

#mpd.disconnected {
    color: #f53C3C;
}

#mpd.stopped {
    color: #90B1B1;
}

#mpd.paused {
    color: #51A37A;
}

#keyboard-state>label.locked {
    color: rgba(0, 0, 0, 0.2);
}

#custom-power {
    color: #FBF1C7;
}

#custom-power:hover {
    color: rgb(251, 73, 52);
    background-color: rgba(251, 73, 52, 0.1);
}

#privacy-item.screenshare {
    color: #689D6A;
}

#privacy-item.audio-in {
    color: #689D6A;
}

#privacy-item.audio-out {
    color: #689D6A;
}
